html,
body {
    margin: 0;
    height: 100%;
    background-color: #FFFFFF;
    color: #fff;
    overscroll-behavior: none;
}
.background{
    background-image: url(./gif/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
}
#canvas {
    width: 100%;
    height: 100%;
    display: block;
}